.left .hv-wrapper {
    display: flex;
}
.left .hv-wrapper .hv-item {
    display: flex;
    align-items: center;
}
.left .hv-wrapper .hv-item .hv-item-parent {
    margin-left: 50px;
    margin-right: 0;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
}
.left .hv-wrapper .hv-item .hv-item-parent:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 1px;
    left: 0;
    top: 50%;
    background-color: #333;
    transform: translateX(-100%);
}
.left .hv-wrapper .hv-item .hv-item-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.left .hv-wrapper .hv-item .hv-item-children .hv-item-child {
    position: relative;
    padding: 5px 0;
}
.left .hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
    content: '';
    position: absolute;
    background-color: #333;
    top: 50%;
    right: -25px;
    width: 25px;
    height: 1px;
}
.left .hv-wrapper .hv-item .hv-item-children .hv-item-child:not(:only-child):after {
    content: '';
    position: absolute;
    background-color: #333;
    right: -25px;
    top: 0;
    height: 100%;
    width: 1px;
}
.left .hv-wrapper .hv-item .hv-item-children .hv-item-child:first-child:after {
    top: 50%;
    height: 50%;
}
.left .hv-wrapper .hv-item .hv-item-children .hv-item-child:last-child:after {
    top: 0;
    height: 50%;
}
.right .hv-wrapper {
    display: flex;
    flex-direction: row;
}
.right .hv-wrapper .hv-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.right .hv-wrapper .hv-item .hv-item-parent {
    margin-right: 50px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
}
.right .hv-wrapper .hv-item .hv-item-parent:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 1px;
    right: 0;
    top: 50%;
    background-color: #333;
    transform: translateX(100%);
}
.right .hv-wrapper .hv-item .hv-item-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.right .hv-wrapper .hv-item .hv-item-children .hv-item-child {
    position: relative;
    padding: 5px 0;
}
.right .hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
    content: '';
    position: absolute;
    background-color: #333;
    top: 50%;
    left: -25px;
    width: 25px;
    height: 1px;
}
.right .hv-wrapper .hv-item .hv-item-children .hv-item-child:not(:only-child):after {
    content: '';
    position: absolute;
    background-color: #333;
    left: -25px;
    top: 0;
    height: 100%;
    width: 1px;
}
.right .hv-wrapper .hv-item .hv-item-children .hv-item-child:first-child:after {
    top: 50%;
    height: 50%;
}
.right .hv-wrapper .hv-item .hv-item-children .hv-item-child:last-child:after {
    top: 0;
    height: 50%;
}

.basic-style {
    display: flex;
    align-items: center;
    overflow-x: auto;
}
body {
    display: flex;
    justify-content: center;
}
