.simple-card {
    width: 160px;
    margin: 0;
    background-color: #fff;
    color: #333;
    padding: 5px;
    border-radius: 7px;
    border: #333 1px solid;
    min-width: 100px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(204, 131, 103, 0.22);
}

.simple-card p{
    margin: 0;
}

.simple-card .header{
    display: flex;
    justify-content: space-between;
}

.simple-card .vs{
    text-align: left;
}

.simple-card .vs table{
    width: 100%;
}

.simple-card .vs td{
    padding: 0;
}

.simple-card .vs td:nth-last-child(even){
    padding-left: 5px;
    padding-right: 10px;
    max-width: 76px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.simple-card .vs td.score{
    font-weight: bold;
}

.simple-card .vs td.score span{
    font-weight: normal;
    margin-left: 5px;
}

.simple-card img{
    display: block;
}