/* Chuyển hướng từ cột dọc sang hàng ngang */
.hv-wrapper {
    display: flex;
    flex-direction: row; /* Chuyển thành hàng ngang */
}

.hv-wrapper .hv-item {
    display: flex;
    flex-direction: row; /* Các thành phần con sắp xếp theo hàng ngang */
    align-items: center;
}

.hv-wrapper .hv-item .hv-item-parent {
    margin-right: 50px; /* Khoảng cách giữa Parent và Children */
    margin-bottom: 0; /* Xóa margin-bottom */
    position: relative;
    display: flex;
    justify-content: center;
}

.hv-wrapper .hv-item .hv-item-parent:after {
    position: absolute;
    content: '';
    width: 25px; /* Đổi thành đường ngang */
    height: 1px; /* Độ dày đường nối */
    right: 0;
    top: 50%;
    background-color: #333;
    transform: translateX(100%);
}

.hv-wrapper .hv-item .hv-item-children {
    display: flex;
    flex-direction: column; /* Các children xếp dọc */
    justify-content: center;
    align-items: flex-start;
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child {
    position: relative;
    padding: 15px 0; /* Tạo khoảng cách giữa các Children */
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
    content: '';
    position: absolute;
    background-color: #333;
    top: 50%;
    left: -25px; /* Đường nối ngang tới Child */
    width: 25px;
    height: 1px;
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child:not(:only-child):after {
    content: '';
    position: absolute;
    background-color: #333;
    left: -25px; /* Bắt đầu từ cuối đường nối ngang */
    top: 0;
    height: 100%;
    width: 1px; /* Đường thẳng dọc */
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child:first-child:after {
    top: 50%;
    height: 50%;
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child:last-child:after {
    top: 0;
    height: 50%;
}

.simple-card {
    margin: 0;
    background-color: #fff;
    color: #DE5454;
    padding: 20px;
    border-radius: 7px;
    border: #333 1px solid;
    min-width: 100px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(204, 131, 103, 0.22);
}
